

<table id="tea-table">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Steep Time</th>
    <th>Description </th>
    <th>Edit / Delete</th>
  </tr>

{{#each teas as |tea|}}
<div data-id="{{tea.id}}">
  <!-- Are we going to display id? -->
  <div class="handlebars-container col-xs-12">
    <tr>
    <td><p class="name tea-display-group">{{tea.name}}</p></td>
    <td><p class="type tea-display-group">{{tea.type}}</p></td>
    <td><p class="steepTime tea-display-group">{{tea.steepTime}}</p></td>
    <td><p class="description tea-display-group">{{tea.description}}</p></td>
    <td><button type="button" id="delete-tea" data-id="{{tea.id}}" class="btn btn-danger btn-xs glyphicon glyphicon-trash"> Delete</button></td>
  </tr>
  </div>

</div>


{{/each}}
</table>
